@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Cardo:wght@400&family=Raleway:wght@400;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
    z-index: 4;
}
.container_header{
    display: flex;
    max-width: 1200px;
    padding: 0, 15px;
    height: 100px;
    border-bottom: 1px solid rgb(186, 187, 197);
    justify-content: space-between;
}
.front_page{
    background:url(bgs/img.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.front_page::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(37, 43, 73);
    opacity: 0.8;
    z-index: 2;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    z-index: 3;
}


/* .header_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
} */
.logo{
    display: flex;
    align-self: center;
}

.navigation{
    width: 50%;
    justify-content: space-between;
    padding: 0 10px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(25, 23, 23);
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    gap: 1px;
}
.nav{
width: calc(100% / 5);
height: 100%;
justify-content: space-between;
display: flex;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 13px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
align-items: center;
transition: 0.4s;
}
.navigation_mobile{
    display: none;
}
.navigation_mobile_page{
    display: none;
    width: 0;
}
@media (max-device-width:900px) {
    .logo{
        margin: 0;
        margin-left: 20px;
        padding: 0;
    }
    .navigation {
        position: relative;
        display: none;
        margin: 0;
      }
      .navigation_mobile {
        display: flex;
        width: 55px;
        height: 56px;
        margin: 19px 16px;
        background: url(bgs/icon_menu.svg);
        background-size: cover;
        background-repeat: none;
        font-size: 16px;
        appearance: none;
      }
  
      .menu_link_mobile:focus {
        outline: none;
        border-color: #000;
      }
}
.nav:hover{
    border-bottom: 3px solid rgb(186, 187, 197);
}
.container_front{
    flex-direction: column;
    padding: 0 15px;
}
.main_head{
padding-top: 130px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 64px;
font-weight: 900;
line-height: 75px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-bottom: 31px;
}
.main_text{
    padding: 0 15px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 80px;
}
.button{
    width: 370px;
    height: 80px;
    background-color: rgb(255, 67, 67);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    margin-bottom: 120px;
}
.button:hover{
    scale: 120%;
}
.features{
    padding: 116px 0;
}
.container_features{
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features_card{
    width: calc(100%/3 - 30px);
    display: flex;
    flex-direction: column;
    margin-bottom: 88px;
}
.card_img{
    margin-bottom: 30px;
}
.card_header{
    height: 72px;
    width: 100%;
    color: rgb(45, 48, 51);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.card_filler{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(108, 114, 121);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.works{
    margin: 0;
    padding: 0;
    width:100%;   
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}
.works_img{
    position: relative;
    display: flex;
    width: calc(100% / 4 - 2px);
}
.works_img__img{
    max-width: 100%;
    max-height: 340px;
    display: block;
    object-fit: cover;
    z-index: 1;
}
.works_img__content{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 67, 67, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}

.works_img__content h3{
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.works_img__content p {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}
.works_img:hover .works_img__content{
    z-index: 2;
    opacity: 1;
    cursor: pointer;
}
.our_team{
    padding-top: 114px;
    gap: 30px;
    justify-content: space-between;
    padding-bottom: 114px;
}
.team_card{
    width: calc(100% / 4 - 30px);
    display: flex;
    flex-direction: column;
   
}


.team_card_img{
    display: block;
    width: 100%;
    max-height: 270px;
   
}
.team_card_name {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(45, 48, 51);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}
.team_card_position{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    color: rgb(255, 67, 67);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.team_card_text{
    width: 100%;
    flex-direction: row;
    align-items: center;
    color: rgb(108, 114, 121);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;

}
.team_card_socials{
    margin: 0;
    margin-top: 38px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.team_card_socials__icon{
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.team_card_socials__icon:hover{
    scale: 1.1;
    fill: blue;
    cursor: pointer;
}

.swiper {
    width: 100%;
    height: 535px;
    display: flex;
    flex-direction: row;
  }
.swiper-slide{
    display: flex;
    min-width: 0;
    width: 100%;
    max-height: 92%;
    background: rgb(92, 50, 73);
    transition: 0.3s;
}
  .swiper-slide-img{
    margin: 0;
    display: block;
    width: 50%;
    max-height: 100%;
  }
  .swiper-slide-text{
    max-width: 471px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .swiper-slide-text p{
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-family: Cardo;
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
  }
  .swiper-slide-text-name{
    max-width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .swiper .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid rgb(126, 93, 111);
  }
  .swiper .swiper-pagination{
    margin: 0 auto;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  .swiper .swiper-pagination-bullet-active{
    width: 14px;
    height: 14px;
    background: rgb(126, 93, 111);  }
  
  

  .download {
    padding-top:116px;
    padding-bottom: 114px;
  }
  
  .container_2{
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
  .download_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
  }
.download_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.download_button{
    width: 370px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    background: rgb(255, 67, 67);
}
.footer{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    background: rgb(53, 60, 101);;
}
.footer_card{
    margin-top: 72px;
    width: calc(100% / 3 - 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 70px;
}
.footer_card__header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.copyright{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    
    text-align: center;
    text-transform: capitalize;
    background: rgb(44, 49, 84);
}
.copyright p{
    width: 370px;
    color: rgb(128, 128, 128);
}
.copyright p span {
    color: #fff;
}

@media (max-device-width:1120px){
    .container_header{
        display: flex;
        max-width: 1024px;
        padding: 0, 20px;
        height: 100px;
        border-bottom: 1px solid rgb(186, 187, 197);
        justify-content: space-between;
}
.container{
    max-width: 1024px;
    padding: 0 20px;
    display: flex;
    z-index: 3;}

    .our_team{
        padding-top: 114px;
        justify-content: space-between;
        padding-bottom: 114px;
    }
    .team_card{
        width: calc(100% / 4 - 15px);
        display: flex;
        flex-direction: column;
    }
    .swiper {
        width: 100%;
        display: flex;
        flex-direction: row;
      }
    .swiper-slide{
        display: flex;
        min-width: 0;
        width: 100%;
        max-height: 92%;
        background: rgb(92, 50, 73);
        transition: 0.3s;
    }
      .swiper-slide-img{
        margin: 0;
        display: block;
        width: 50%;
        
      }
      .swiper-slide-text{
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;

      }
      .swiper-slide-text p{
        max-width: 100%;
        color: rgb(255, 255, 255);
        font-family: Cardo;
        font-style: italic;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
      }
      .swiper-slide-text-name{
        max-width: 100%;
        margin: 0;
        padding: 0;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
      .swiper .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid rgb(126, 93, 111);
      }
      .swiper .swiper-pagination{
        margin: 0 auto;
        bottom: 0;
        left: 41%;
        box-sizing: border-box;
        display: flex;
        gap: 25px;
      }
    
      .swiper .swiper-pagination-bullet-active{
        width: 10px;
        height: 10px;
        background: rgb(126, 93, 111);  }
      
      
}

@media (max-device-width:580px) {
    .container{
        flex-direction: column;
    }
    .container_front{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .button{
        width: 280px;
        height: 60px;
    }
    .container_features{
        flex-direction: column;
    }
    .features_card{
        width: 100%;
    }
    .works{
        flex-direction: row;
    }
    .works_img{
        width: 50%;
    }
    .our_team{
        flex-direction: column;
    }
    .team_card{
        width: 100%;
    }
    .download_button{
        width: 280px;
        height: 60px;
    }
    .footer{
        height: fit-content;
    }
    .footer_card{
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 0;
        padding-top: 20px;
        width: 100%;
    }
    .team_card_socials{
        margin-top: 0                 ;
    }
    .swiper {
        width: 100%;
        height: 580px;
        display: flex;
        flex-direction: row;
      }
    .swiper-slide{
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
        max-height: 538px;
        background: rgb(92, 50, 73);
        transition: 0.3s;
    }
      .swiper-slide-img{
        margin: 0;
        display: block;
        width: 100%;
        
      }
      .swiper-slide-text{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

      }
      .swiper-slide-text p{
        max-width: 100%;
        color: rgb(255, 255, 255);
        font-family: Cardo;
        font-style: italic;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0%;
        text-align: center;
        text-transform: capitalize;
      }
      .swiper-slide-text-name{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
      }
      .swiper .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        background-color: white;
        box-sizing: border-box;
        border: 2px solid rgb(126, 93, 111);
      }
      .swiper .swiper-pagination{
        margin: 0;
        left: 23%;
        bottom: 0;
        box-sizing: border-box;
        display: flex;
        gap: 25px;
      }
    
      .swiper .swiper-pagination-bullet-active{
        width: 10px;
        height: 10px;
        background: rgb(126, 93, 111);  }
      
    
}